@font-face {
  font-family: 'ALS Gorizont Variable', sans-serif;
  src: url('./fonts/alsgorizontvariable.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/alsgorizontvariable.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/alsgorizontvariable.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/alsgorizontvariable.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/alsgorizontvariable.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/alsgorizontvariable.svg#alsgorizontvariable') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400 900;
}

*{
  --font-heading-1: 900 64px/1 'ALS Gorizont Variable';
  --font-heading-2: 900 56px/1 'ALS Gorizont Variable';
  --font-heading-3: 900 48px/1 'ALS Gorizont Variable';

  --font-text-1: 400 48px/1 'ALS Gorizont Variable';
  --font-text-2: 400 40px/1 'ALS Gorizont Variable';
  --font-text-3: 400 36px/1 'ALS Gorizont Variable';
  --font-text-4: 400 32px/1 'ALS Gorizont Variable';
  --font-text-5: 400 24px/1 'ALS Gorizont Variable';
  --font-text-6: 400 20px/1 'ALS Gorizont Variable';
}