
.card {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.accent{
  color: var(--color-accent-green);
  background-color: var(--color-accent-red);
}

.font1 {
  font: var(--font-text-1);
}
.font2 {
  font: var(--font-text-2);
}
.font3 {
  font: var(--font-text-3);
}
.font4 {
  font: var(--font-text-4);
}
.font5 {
  font: var(--font-text-5);
}
.font6 {
  font: var(--font-text-6);
}

.fonth1 {
  font: var(--font-heading-1);
}
.fonth2 {
  font: var(--font-heading-2);
}
.fonth3 {
  font: var(--font-heading-3);
}

