.card{
  display: flex;
  flex-direction: column;
  gap: clamp(8px, calc(32 / 1920 * 100vw), 32px);
  padding: clamp(6px, calc(35 / 1920 * 100vw), 35px) clamp(7px, calc(24 / 1920 * 100vw), 24px);
  border-top-left-radius: clamp(6px, calc(15 / 1920 * 100vw), 15px);
  background-color: var(--color-secondary);
  width: 100%;
  box-sizing: border-box;
  flex-grow: 2;
  cursor: pointer;
  &.opened {
    .question::before {
      transform: rotate(90deg);
    }
    .answer {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
        height: auto;
    }
  }
}
.question {
  display: flex;
    align-items: center;
  position: relative;
  color: var(--color-primary);
  font: var(--font-text-2);
  font-weight: 400;
  gap: clamp(16px, calc(24 / 1920 * 100vw), 32px);

  @media (max-width: 768px) {
    font: var(--font-text-5);
  }

  &::before {
    position: relative;
    transition: transform 0.3s;
    content: '';
    background-image: url("/src/assets/Vector.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: clamp(16px, calc(24 / 1920 * 100vw), 32px);
    width: clamp(16px, calc(24 / 1920 * 100vw), 32px);
  }



}


.answer{
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, transform 0.3s;
  transform: translate(0, -10px);
  color: var(--color-primary);
  font: var(--font-text-4);
  @media (max-width: 768px){
    font: var(--font-text-6);
  }
}